<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Matematik</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="~/css/news.css">
    <link type="text/css" href="~/css/navbar.css" rel="stylesheet">
    <link type="text/css" href="~/css/footer.css" rel="stylesheet">
</head>
<body style="background-color:#f1f1f1">
    <div id="container">

        <nav>
            <div id="logo">
                <img src="~/images/Loco-removebg-preview (1).png" id="img1">
                <div class="logotext">
                    <h1>Matematikfætteren</h1>
                </div>
            </div>
            <ul class="leftlist">
                <li><a href="#">Hjem</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Opgaver</a></li>
                <li><a href="#">Leaderboard</a></li>
            </ul>
            <ul>
                <li><a href="#">Opret Bruger</a></li>
                <li><a href="#">Log ind</a></li>
            </ul>
        </nav>
    </div>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
